<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://yastatic.net/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/content/css/styles.css" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <a href="/" class="paldi-logo"></a>
                </div>
                <div class="col-xs-12">
                    <nav class="navbar navbar-default">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/catalog">Каталог</a></li>
                            <li><a href="/contacts">Контакты</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    @Section['Content'];

    <script src="https://yastatic.net/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://yastatic.net/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>

